/*
FILE NAME: crew.css
WRITTEN BY:
WHEN:
PURPOSE:
*/

#crew{
  position: absolute;
  width: 40%;
  top: 12%;
  left: 27.5%;

  max-height: 60%;
  padding: 10px;
  background-color: grey;
  opacity: 0.8;
  overflow: scroll;
  color: white;
}



.rightmargin{
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
  width: 12%;

  background:rgba(19, 19, 19,1);
  overflow: hidden;
  font-weight: 100;
}

.rightmarginimg{
  width:100%;
  height: auto;
  opacity: 1;
}

.rightmargintext{
  max-width:100%;
  height:auto;
  opacity: 0.5;
  overflow-x: hidden;
  overflow-y: hidden;
  color: white;
}




h1{
  position: relative;
  right: 10px;
  left: 42%;
  bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;

  font-size: 50px;
  font-family: 'palatino';
  font-weight: 100;

  background-color: black;
  color: white;

  border-top: 2px solid white;
  border-bottom: 2px solid white;
  width: 215px;
}

h2{
  font-size: 60px;
  text-align: center;
}

p{
  font-size: 20px;
  text-align: center;
}

body {
  background-color: black;
}
