/*
FILE NAME: indexnotyet.css
WRITTEN BY: 
WHEN: 
PURPOSE:
*/

video#introvid {
width: 100%;
}

body{
  background-color: black;
}


a{
  font-size: 30px;
  color: white;
}

/* unvisited link */
a:link {
    color: white;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: white;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: white;
    text-decoration: none;
}

/* selected link */
a:active {
    color: white;
    text-decoration: none;
}
