/*
FILE NAME: index.css
WRITTEN BY: 
WHEN: 
PURPOSE:
*/

h1{
  position: relative;
  right: 10px;
  bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;

  font-size: 50px;
  font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
  font-weight: 100;
  
  background-color: rgba(0, 0, 0, 0.5);
  left: 40%;
  color: white;

  border-top: 2px solid white;
  border-bottom: 2px solid white;
  width: 220px;
}

{
color: #333333;
font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
}

body {
  background-color: black;
}