h1{
  position: relative;
  right: 10px;
  bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 50px;
  font: georgia;
  color: black;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  border-radius: 75px;
}

body {
  background-color: black;
}
