#leftmargin{
  left: 0px;
}

#leftmargin, .rightmargin{
  position: absolute;
  top:10%;
  bottom:15%;
  max-height: 73.5%;
  height: 73.5%;
  width: 10%;
  background:rgba(0, 0, 0,0.5);
}
#menu{
  position: absolute;
  margin-top: 120px;
  text-align: right;
  right: 15px;
  font-size: 30px;
}
.rightmargin{
  right: 0px;
  overflow: scroll;
}
.rightmarginimg{
  width:100%;
  height: auto;
  opacity: 1;
}
.rightmargintext{
  max-width:100%;
  height:auto;
  opacity: 0.5;
  overflow-x: hidden;
  overflow-y: scroll;
  color: white;

}
#mainImg {
  height: auto;
  width: 100%;
}
a{
  font-size: 30px;
  color: white;
}

/* unvisited link */
a:link {
    color: white;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: white;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: white;
    text-decoration: none;
}

/* selected link */
a:active {
    color: white;
    text-decoration: none;
}

.background {
  /* Set rules to fill background */
  z-index: -1;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  top:10%;
  /* Set up positioning */
  position: absolute;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}
