#leftmargin{
  position: absolute;
  width: 200px;
  height: 100%;
  background-color: black;
  top: 0px;
  left: 0px;
  opacity: 0.5;
}

#menu{
  position: absolute;
  margin-top: 120px;
  text-align: right;
  right: 15px;
  font-size: 30px;
}
.rightmargin{
  position: absolute;
  width: 250px;
  height: 100%;
  background-color: black;
  top: 0px;
  right: 0px;
  opacity: 0.5;
  overflow: scroll;
}
.rightmarginimg{
  width:200px;
  height: 200px;
  top:0px;
  right:0px;
}
.rightmargintext{
  top:0px;
  right:0px;
  max-width:200px;
  height:50px;
  overflow-x: hidden;
  overflow-y: scroll;
  color: white;

}
a{
  font-size: 30px;
  color: white;
}

/* unvisited link */
a:link {
    color: white;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: white;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: white;
    text-decoration: none;
}

/* selected link */
a:active {
    color: white;
    text-decoration: none;
}

.background {
  position: relative;
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  z-index: -1;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}
